<h1>
  <%= user.persisted? ? "Update" : "New" %> User Form
</h1>

<%= form_for user do |user_fields| %>
  
  <% user.errors.full_messages.each do |error| %>
    <div class="error">
      <%= error %>
    </div>
  <% end %>

  <%= user_fields.label :name %>
  <%= user_fields.text_field :name %>
  <br>
  <%= user_fields.label :email %>
  <%= user_fields.text_field :email %>
  <br>
  <%= user_fields.label :password %>
  <%= user_fields.password_field :password %>
  <br>
  <%= user_fields.label :password_confirmation %>
  <%= user_fields.password_field :password_confirmation %>
  <br>
  <%= user_fields.label :likes_cookies %>
  <%= user_fields.check_box :likes_cookies %>
  <%= check_box_tag :likes_cookies %>
  <br>
  

  <%= user_fields.file_field :avatar %>

  <%= user_fields.label :delete_avatar, "Remove Avatar" %>
  <%= user_fields.check_box :delete_avatar %>

  <% if true %>
    <h2>User Addresses with Hardcoded Object</h2>
    <%= user_fields.fields_for :addresses do |address_fields| %>
      <h3> 
        <%= address_fields.object.persisted? ? "Edit" : "New" %> Address:
      </h3>
      <div>
        <%= address_fields.object.errors.full_messages %>
      </div>
      <%= user_fields.label :billing_address_id, "Set as Billing?" %>
      <%= user_fields.radio_button :billing_address_id, address_fields.object.id, :checked => user_fields.object.billing_address_id == address_fields.object.id %>

      <%= address_fields.label :street_address %>
      <%= address_fields.text_field :street_address %>
      <br>
      <%= address_fields.label :city %>
      <%= address_fields.text_field :city %>
      <br>
      <%= address_fields.label :state %>
      <%= address_fields.text_field :state %>
      <br>
      <%= address_fields.label :zip %>
      <%= address_fields.text_field :zip %>
      <br>
      <%= address_fields.label :_destroy, "Delete Address?" %>
      <%= address_fields.check_box :_destroy %>
      <br>
    <% end %>
  <% end %>

  <% if false %>
    <div class="fields_for_example">
      <h2>Addresses Fields using Iteration</h2>
      <% user.addresses.each_with_index do |address, i| %>
        <%= user_fields.fields_for "addresses_attributes][#{i}", address do |address_fields| %>
          <h3> 
            Address:
          </h3>
          <%= address_fields.label :street_address %>
          <%= address_fields.text_field :street_address %>
          <br>
          <%= address_fields.label :city %>
          <%= address_fields.text_field :city %>
          <br>
          <%= address_fields.label :state %>
          <%= address_fields.text_field :state %>
          <br>
          <%= address_fields.label :zip %>
          <%= address_fields.text_field :zip %>
          <br>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if false %>
    <h2>Independent Fields_for</h2>
    <div class="fields_for_example">
      <%= fields_for :address, Address.new do |address_fields| %>
        <%= address_fields.label :street_address %>
        <%= address_fields.text_field :street_address %>

        <%= address_fields.label :city %>
        <%= address_fields.text_field :city %>

        <%= address_fields.label :state %>
        <%= address_fields.text_field :state %>

        <%= address_fields.label :zip %>
        <%= address_fields.text_field :zip %>
      <% end %>
    </div>
  <% end %>

  <% if false %>
    <h2>Nested Fields_for</h2>
    <div class="fields_for_example">
      <%= user_fields.fields_for :address, Address.new do |address_fields| %>
        <%= address_fields.label :street_address %>
        <%= address_fields.text_field :street_address %>

        <%= address_fields.label :city %>
        <%= address_fields.text_field :city %>

        <%= address_fields.label :state %>
        <%= address_fields.text_field :state %>

        <%= address_fields.label :zip %>
        <%= address_fields.text_field :zip %>
      <% end %>
    </div>
  <% end %>
  
  <%= user_fields.submit %>
<% end %>
