<h1> user show for <%= @user.name %></h1>
<%= link_to "Edit User", edit_user_path(@user) %>

<h3>User Attributes:</h3>
<%= @user.inspect %>

<h3>Images</h3>
<%= image_tag @user.avatar.expiring_url(10) %>
<%= image_tag @user.avatar.url(:medium) %>
<%= image_tag @user.avatar.url(:thumb) %>

<h3>The User's Addresses:</h3>
<%= @user.addresses.inspect %>

<h3>Friend stuff</h3>
<%# Show the "friend" only if we haven't friended %>
<%# this user yet.  Otherwise, show "unfriend" %>
<%# Note that `pluck(:id)` is the same as `select(:id).map(&:id)` %>
<%# ...but MUCH faster %>
Note: obsolete... friend's the current user by the current user. lulz.
<% if current_user.friended_users.pluck(:id).include?(@user.id) %>
  <%# We'll just pass the current_user_id directly into %>
  <%# the params hash of our link... again, this isn't normal %>
  <%= link_to "Unfriend #{@user.name}", 
        friending_path(@user.id, :current_user_id => current_user.id),
        :method => "DELETE" %>
<% else %>
  <%# We'll just pass the current_user_id directly into %>
  <%# the params hash of our link... again, this isn't normal %>
  <%= link_to "Friend #{@user.name}", 
        friendings_path(:id => @user.id, :current_user_id => current_user.id), 
        :method => "POST" %>
<% end %>