<h1>
  <%= post.persisted? ? "Update" : "New" %> Post Form
</h1>

<%= form_for post do |post_fields| %>
  
  <%= post_fields.label :title %>
  <%= post_fields.text_field :title %>

  <br>

  <%= post_fields.label :body %>
  <%= post_fields.text_area :body %>

  <br>

  <% if false %>
    <%= post_fields.fields_for :tags do |tag_fields| %>
      <h2> 
        Tag Fields 
      </h2>
      <%= tag_fields.label :name %>
      <%= tag_fields.text_field :name %>
      <br>
    <% end %>
  <% end %>

  <% if false %>
    <h2>Select Tags to assign to this Post</h2>
    <%= post_fields.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  <% end %> 

  <% if true %>
    <h2>Select Tags to assign to this Post</h2>
    <%= post_fields.collection_select :tag_ids, Tag.all, :id, :name, {}, :multiple => true %>
  <% end %>

  
  <%= post_fields.submit %>
<% end %>