<h1><%= title %></h1>

<%= form_for post do |f| %>

  Title
  <%= f.text_field :title %>

  Body
  <%= f.text_area :body %>

  <%= f.submit title %>

<% end %>

<%= link_to "Destroy Post!!!!", post, :method => :delete %>

<%= form_tag posts_path do %>
  <%= @post.errors[:title].class %>
  <% unless @post.errors[:title].empty? %>
    <div class="error">
      <%= "Post #{@post.errors[:title].first}" %>
    </div>
  <% end %>
  <%= text_field_tag :title %>
  <%= field_with_errors(@post,:title) %>
  ...
<% end %>