<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for(:title) ? yield(:title) : "CRUD CRUD" %>
  </title>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  Flash:
  <%= flash[:error] %><br>
  <%= flash[:success] %><br>
  
  <!-- <h3>ENV VARS</h3> -->
  <%#= ENV.inspect%>
  
  <!-- <h3>SECRETS</h3> -->
  <%#= Rails.application.secrets.inspect %>

  <h3>
    Navigation
  </h3>
  <%= login_links %>
  <br>
  <%= link_to "Home", root_url %>
  <%= link_to "New User", new_user_path %>
  <%= link_to "All Users", users_path %>
  <%= link_to "New Post", new_post_path %>
  <%= link_to "All Comments", comments_path %>
  <%= link_to "New Photo", new_photo_path %>
  <br>

  <% if @post && @post.persisted? %>
    <%= link_to "Show Post", @post %>
  <% end %>

<%= yield %>

</body>
</html>
