<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for(:title) ? yield(:title) : "CRUD CRUD" %>
  </title>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  Flash:
  <%= flash[:error] %><br>
  <%= flash[:success] %><br>

  <%= link_to "Home", root_url %>
  <%= link_to "New User", new_user_path %>
  <%= link_to "All Users", users_path %>
  <%= link_to "New Post", new_post_path %>
  <%= link_to "All Coments", comments_path %>
  <%= link_to "New Photo", new_photo_path %>

  <%= login_links %>

  <% if @post && @post.persisted? %>
    <%= link_to "Show Post", @post %>
  <% end %>

<%= yield %>

</body>
</html>
